<h2>About Q&A Message Board</h2>

<p>The Q&A Message Board website is a question and answer message board where a user submits a question and other users can respond with answers.
Created by Neville Oronni.</p>

{{#link-to 'contact'}}Contact us.{{/link-to}}